{% block title %}Consent Part B and Availability{% endblock %}

{% block content %}

<style>
    .my-box {
        border: 1px solid #ccc;
        padding: 10px;
        background-color: #f9f9f9;
    }
</style>

<div class="my-box">
    <p>Part B entails storing your video and audio data for research purposes.</p>
    <p>The information collected in Part B of this study may be published in a report or a journal article and presented to interested
    parties, including possibly, but not exclusively, members of editorial boards or scientific committees.</p>
    <p>We do not collect your IP address and will delete the Participant ID from the dataset 10 years after the completion of the study.
    We will however use the participant ID for making the payment in Part B of the experiment, in case you decide to participate.</p>
    <p>Other information (e.g., survey responses, time of the survey) will be kept by the researchers and may be used for future
    studies.</p>
    <p>In addition to consenting to participate in the study, you will have the opportunity to opt-in to the use of your video and audio
    data in research presentations with a scientific audience. If you opt-in, your audio and video data will be kept by the researchers
    for an unlimited period; otherwise, it will be deleted ten years after completion of the study.</p>
    <p>Upon request, personal data (e.g., video, audio) will be made available to journal editors and reviewers to verify our statements.</p>
    <p>Please indicate your willingness to participate in Part B of this study. <strong>This is completely voluntary. Your Payoff in Part A
    is not dependent on your payoff in Part B.</strong></p>

    <p>{{ formfield "interest_to_participate" }}</p>

    <p><strong>I would be able to participate in the lab study at the following time slots (please mark two or more time slots):</strong></p>

    {% for field in C.TIMESLOTS %}
    <p>
        <label>
            <input type="checkbox" name="{{ field }}" value="1"> {{ field }}
        </label>
    </p>
    {% endfor %}
</div>

<br/>

<p>{{ next_button }}</p>

{% endblock %}
