{% block title %} Experiment Introduction {% endblock %}

{% block content %}


<style>
    .my-box {
        border: 1px solid #ccc;
        padding: 10px;
        background-color: #f9f9f9;
    }
</style>

<div class="my-box">
    <p>You will now answer a series of questions.</p>
<p>It will take approximately <strong>12–18 minutes</strong></p> to complete.
<p>Please ensure that you are in a room with a <strong>stable internet connection.</strong></p>
<p>Your <strong>fixed payoff</strong> in this part of the experiment (Part A) will be <strong>€3.</strong></p>
<p>
    Additionally, we will pay you between <strong>€0.50 and €2.40,</strong> depending on your and
    someone else’s answers in the <strong>SVO questionnaire.</strong> (Further information can be found in the introduction to the questionnaire).
</p>
<p>
    The payout will take place together with Part B of the experiment at the KD2 Lab, if we are able to
    find a time slot for you based on your preferred timings.
</p>
<p>
    If we are unable to find a slot for you based on your preferences, you will only be paid for Part A
    (this online questionnaire). In this case, we will inform you and ask whether you prefer to be paid
    online or to a certain time slot in person at the KD2 Lab.
</p>
</div>

<br/>

<p>{{ next_button }}</p>

{% endblock %}

